@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    background-color: black;
    /* outline: auto; */
}

/* -------------- COLORS -------------- */
.bg-color-name-title {
    background-color: rgb(35, 0, 236);
}

.bg-color-three-reasons {
background-color: white;
}

.ui-menu-color-home {
    background-color: black;
}
.ui-menu-color-resume {
    background-color:black;
}
.ui-menu-color-contact {
    background-color:black;
}
.ui-menu-color-download {
    background-color:black;
}

/* -------------- Special Paddings/margins/text -------------- */

h1, h2, h3, h4 {
margin: 0;
} 

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display:inline-block;
}

.row-table {
    display:table;
}

.section-column {
    display:table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* -------------- HEADING -------------- */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/Sirak-BLKWH.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}
.name {
    font-family: Conthrax;
    font-size: 46px;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
}

.title {
    font-family: Tahoma;
    font-size: 28px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
}

/* -------------- LAYOUT CORRECTIONS -------------- */

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.menu-container {
    font-size: 0;
}
.col {
    margin: 0;
    padding: 0;
}
/* -------------- LAYOUT CORRECTIONS -------------- */

/* -------------- NAVBAR -------------- */
#nav {
    margin: 0;
}
#nav li {
    font-size: 14px;
    padding-right: 50px;
}

#nav li a {
    color: white;
}
.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
    
}
.menu-item a {
   width: 100%;
   text-decoration: none;
   color:black;
}

/* For Icons */
.menu-item a i {
   padding-top: 22px;
   display:block;
   color: grey;
   font-size: 26px;
   color: white;
}

.menu-item span {
    display:block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

/* -------------- HOVER -------------- */
.hvr-sweep-to-bottom:before {
    background: rgb(9, 255, 1);
    opacity: 0.6;
    height: 120px;
}



/* -------------- FOOTER -------------- */

footer {
    background-color: #525252;
    min-height: 120px;
    margin: 0;
}

footer p {
    color: white;
}

.cv-pdf i {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: rgb(50, 252, 10);
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width:32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: white;
    background-color: rgb(35, 0, 236);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:greenyellow;
    color: black;
}

#footer-details {
    padding: 20px;
    border: solid 1px rgb(35, 0, 236);

}