@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    background-color: black;
    /* outline: auto; */
}

/* -------------- COLORS -------------- */
.bg-color-name-title {
    background-color: rgb(35, 0, 236);
}

.ui-menu-color-home {
    background-color: black;
}
.ui-menu-color-resume {
    background-color:black;
}
.ui-menu-color-contact {
    background-color:black;
}
.ui-menu-color-download {
    background-color:black;
}

/* -------------- HEADING -------------- */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/Sirak-BLKWH.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}
.name {
    font-family: Conthrax;
    font-size: 46px;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
}

.title {
    font-family: Tahoma;
    font-size: 28px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
}

/* -------------- LAYOUT CORRECTIONS -------------- */

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
}
#nav li {
    font-size: 14px;
    padding-right: 50px;
}

#nav li a {
    color: white;
}
.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
    
}
.menu-item a {
   width: 100%;
   text-decoration: none;
   color:black;
}

/* For Icons */
.menu-item a i {
   padding-top: 22px;
   display:block;
   color: grey;
   font-size: 26px;
   color: white;
}

.menu-item span {
    display:block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

/* -------------- HOVER -------------- */
.hvr-sweep-to-bottom:before {
    background: rgb(9, 255, 1);
    opacity: 0.6;
    height: 120px;
}

.col {
    margin: 0;
    padding: 0;
}